vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Dec 2010 14:49:14 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|BIRCKHEAD-JANE\\Jane
vti_modifiedby:SR|BAKERSVILLE\\JaneB
vti_timecreated:TR|07 Jan 2009 17:39:50 -0000
vti_backlinkinfo:VX|directions.htm activities.htm map.htm index.htm thanks.htm rates.htm contact.htm photos.htm policies.htm about.htm shrine.htm LAST\\ YEAR\\ SCHEDULEshrine.htm indexMEMORIAL\\ DAY.htm about\\ -\\ Copy.htm
vti_cacheddtm:TX|06 Dec 2010 14:49:14 -0000
vti_filesize:IR|1469
vti_cachedlinkinfo:VX|S|images/backgroundtree.jpg S|images/bullet.png
vti_cachedsvcrellinks:VX|FSUS|images/backgroundtree.jpg FSUS|images/bullet.png
